* {
  margin: 0;
  padding: 0%;
}

body {
  background-color: #121212;
  margin: 0;
  padding: 0%;
}

.App {
  color: white;
  height: 100vh;
  text-align: center;
  width: 100vw;
}
#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

#big {
  width: 100px;
}

#disabled {
  background-color: #3a393c;
}
